
body {
    background-image: url('https://i.imgur.com/OA9xPQT.png');
    background-repeat: no-repeat;
    background-size: 100% 800px;
    background-position-x: 0px;
    background-position-y: 0px;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}

.index {
    background-image: url('https://i.imgur.com/z4g2bH5.jpg');
}
        
.tab {
    overflow: hidden;
}

div.ImageBackground {
    position: absolute;
    left: -1px;
    overflow-x: hidden;
    z-index: -1;
}

div.textBackground {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow-x: hidden;
    z-index: 0;
}

div.Profile {
    position: absolute;
    top:-3%;
    left: 12%;
}
        
div.MainAbsoluteText1 {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    top: 5%;
    left: 40%;
    width: 750px;
    height: 300px;
}

div.ContactTitle {
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    color: white;
    top: 10%;
    left: 35%;
    width: 750px;
    height: 300px;
}

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    background-color: #374e7573;
    bottom: -150px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 50px; /* 15px padding */
    border-width: 5px;
    border-color: #4983c9;
    width: 350px; /* Set a specific width */
    height: 100px;
    opacity: 1;
    text-decoration: none; /* Remove underline */
    text-align: center;
    font-size: 75px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px 5px 5px 5px; /* Rounded corners on the top right and bottom right side */
    border-style: dashed;
  }
  
#mySidenav a:hover {
    bottom: 0; /* On mouse-over, make the elements appear as they should */
}
  
  /* The about link: 20px from the top with a green background */
#about {
    left: 50px;
}
  
#projects {
    left: 535px;
}
  
#contact {
    left: 1025px;
}
