
body {
    background-image: url('https://i.imgur.com/OA9xPQT.png');
    background-size: 100% 800px;
    background-position-x: 0px;
    background-position-y: 0px;
    margin: 0;
    overflow-x: hidden;
    z-index: 0;
}

.index {
    background-image: url('https://i.imgur.com/z4g2bH5.jpg');
    overflow-y: hidden;
    background-repeat: no-repeat;
}
        
.tab {
    overflow: hidden;
}

div.ImageBackground {
    position: absolute;
    left: -1px;
    overflow-x: hidden;
    z-index: -1;
}

.textBackground {
    position: absolute;
    top: 20px;
    right: 20px;
    overflow-x: hidden;
    z-index: 0;
}

.Profile {
    position: absolute;
    top:-3%;
    left: 12%;
}
        
.MainAbsoluteText {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    top: 5%;
    left: 40%;
    width: 750px;
    height: 300px;
}

.AboutTitle {
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    color: white;
    top: -7.5%;
    left: 45%;
    width: 750px;
    height: 300px;
    z-index: 1;
}

.WorksTitle {
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    color: white;
    top: -7.5%;
    left: 40%;
    width: 750px;
    height: 300px;
    z-index: 1;
}

.WorksText1 {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    top: 0%;
    left: 105%;
    width: 650px;
    height: 300px;
}

.WorksText2 {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    top: 0%;
    right: 105%;
    width: 650px;
    height: 300px;
    text-align: right;
}

.ArcadeProject {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(img/Arcade.jpg);
    background-size: 100% 100%;
    color: white;
    top: 15%;
    left: 10%;
    width: 600px;
    height: 340px;
    opacity: 0.7;
    z-index: 1;
    border-style:double;
    border-width: 2px;
    border-color: purple;
    box-shadow: 0px 0px 15px pink;
}

.ArcadeProject:hover {
    background-image: url(IMG/Arcade.gif);
}

.GameJam {
    position: absolute;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-image: url(IMG/GameJam.jpg);
    background-size: 100% 100%;
    color: white;
    top: 70%;
    right: 10%;
    width: 600px;
    height: 340px;
    opacity: 0.7;
    z-index: 1;
    border-style:double;
    border-width: 2px;
    border-color: purple;
    box-shadow: 0px 0px 15px pink;
}

.GameJam:hover {
    background-image: url(img/GameJam.gif);
}

.glow {
    color: #fff;
    animation: glow 1s ease-in-out infinite alternate;
}
  
@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}

.WorksBG {
    position: absolute;
    top: 8.5%;
    left: 4.5%;
    width: 90%;
    height: 1500px;
    background-color: black;
    opacity: 0.2;
    border-style: dashed;
    border-width: 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
}

.ContactTitle {
    position: absolute;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif    ;
    color: white;
    top: -1%;
    left: 42%;
    width: 750px;
    height: 300px;
    z-index: 1;
}

.ContactText1 {
    position: absolute;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    top: 25%;
    left: 25%;
    width: 900px;
    height: 300px;
    z-index: 1;
}

.ContactBG {
    position: absolute;
    top: 8.5%;
    left: 4.5%;
    width: 90%;
    height: 85%;
    background-color: black;
    opacity: 0.2;
    border-style: dashed;
    border-width: 5px;
    border-radius: 5px 5px 5px 5px;
    border-color: white;
}

.button-images {
    max-width: 950px;
    margin: 75px auto;  
    }
    
    .button-container {
    position: relative;
    text-align: center;
    padding: 0;
    border-radius:50%; 
    overflow:hidden; 
    }
    
    
    
    .button-container A:before{  
      content: '';
      display: inline-block;
      height: 48%; 
      /* 
      vertical-align:middle; 
      height: 100%;*/
      
     
    }
    
    
    .button-container a {
      transition: all 1s ease-out;
      padding:5%; 
      color: #FFFFFF;
      position:absolute;
      font-size: 1.125em; 
      font-weight: 700; 
      top: 0;
      left:0;
      right:0;
      bottom:0;
      width:90%;
      display:inline-block;
      text-decoration: none;
      text-transform:uppercase;
    }
    
    .button-container A:hover {
      background: none;
      border: none; 
      opacity:0;
    }
    .button-container img{width:100%; height:auto; display:block}
    
    
    /*Columns*/
    .one_half, .one_third, .two_third, .three_fourth, .one_fourth, .one_fifth, .two_fifth, .three_fifth, .four_fifth, .one_sixth, .five_sixth {
    position: relative;
    margin-right: 4%;
    float: left;
    min-height: 1px;
    height: auto !important;
    }
    
    .one_fourth {
    width: 18.5%;
    }
    
    .last {
    margin-right: 0 !important;
    clear: right;
    }
    
    .clearboth {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    width: 100%;
    }

.topnav {
    overflow: hidden;
    background-color: black;
    opacity: 0.8;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 18px 13px;
    text-decoration: none;
    font-size: 20px;
    border-style: solid;
    border: 1px solid rgba(255, 255, 255, 0.5);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  }

#mySidenav a {
    position: absolute; /* Position them relative to the browser window */
    background-color: #374e7573;
    bottom: -150px; /* Position them outside of the screen */
    transition: 0.3s; /* Add transition on hover */
    padding: 50px; /* 15px padding */
    border-width: 5px;
    border-color: #4983c9;
    width: 350px; /* Set a specific width */
    height: 100px;
    opacity: 1;
    text-decoration: none; /* Remove underline */
    text-align: center;
    font-size: 75px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 5px 5px 5px 5px; /* Rounded corners on the top right and bottom right side */
    border-style: dashed;
}
  
#mySidenav a:hover {
    bottom: 0; /* On mouse-over, make the elements appear as they should */
}
  
  /* The about link: 20px from the top with a green background */
#about {
    left: 50px;
}
  
#projects {
    left: 535px;
}
  
#contact {
    left: 1025px;
}
